@charset "utf-8";

.bz-form-stacked input[type="text"],.bz-form-stacked input[type="password"],.bz-form-stacked input[type="email"],.bz-form-stacked input[type="url"],.bz-form-stacked input[type="date"],.bz-form-stacked input[type="month"],.bz-form-stacked input[type="time"],.bz-form-stacked input[type="datetime"],.bz-form-stacked input[type="datetime-local"],.bz-form-stacked input[type="week"],.bz-form-stacked input[type="number"],.bz-form-stacked input[type="search"],.bz-form-stacked input[type="tel"],.bz-form-stacked input[type="color"],.bz-form-stacked input[type="file"],.bz-form-stacked select,.bz-form-stacked label,.bz-form-stacked textarea {
    display: block;
    margin: .5em 0
}

.bz-form-stacked textarea {
    height: 100px;
}

.bz-form-stacked input:not([type]) {
    display: block;
    margin: .25em 0
}

.bz-form-aligned input,.bz-form-aligned textarea,.bz-form-aligned select,.bz-form-aligned .bz-help-inline,.bz-form-message-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle
}

.bz-form-aligned textarea {
    vertical-align: top
}

.bz-form-aligned .bz-control-group {
    margin-bottom: .5em
}

.bz-form-aligned .bz-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0
}

.bz-form-aligned .bz-controls {
    margin: 1.5em 0 0 11em
}

.bz-form input.bz-input-rounded,.bz-form .bz-input-rounded {
    border-radius: 2em;
    padding: .5em 1em
}

.bz-form .bz-group fieldset {
    margin-bottom: 10px
}

.bz-form .bz-group input,.bz-form .bz-group textarea {
    display: block;
    padding: 10px;
    margin: 0 0 -1px;
    border-radius: 0;
    position: relative;
    top: -1px
}

.bz-form .bz-group input:focus,.bz-form .bz-group textarea:focus {
    z-index: 3
}

.bz-form .bz-group input:first-child,.bz-form .bz-group textarea:first-child {
    top: 1px;
    border-radius: 4px 4px 0 0;
    margin: 0
}

.bz-form .bz-group input:first-child:last-child,.bz-form .bz-group textarea:first-child:last-child {
    top: 1px;
    border-radius: 4px;
    margin: 0
}

.bz-form .bz-group input:last-child,.bz-form .bz-group textarea:last-child {
    top: -2px;
    border-radius: 0 0 4px 4px;
    margin: 0
}

.bz-form .bz-group button {
    margin: .35em 0
}

.bz-form .bz-input-1 {
    width: 100%
}

.bz-form .bz-input-2-3 {
    width: 66%
}

.bz-form .bz-input-1-2 {
    width: 50%
}

.bz-form .bz-input-1-3 {
    width: 33%
}

.bz-form .bz-input-1-4 {
    width: 25%
}

/* 按钮组 */

.bz-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bz-button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.bz-button {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,0.80);
    border: 1px solid #999;
    border: none rgba(0,0,0,0);
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px
}

.bz-button-hover,.bz-button:hover,.bz-button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,0.05)),to(rgba(0,0,0,0.10)));
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,0.05) 40%,rgba(0,0,0,0.10));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,0.05) 0,rgba(0,0,0,0.10));
    background-image: -o-linear-gradient(transparent,rgba(0,0,0,0.05) 40%,rgba(0,0,0,0.10));
    background-image: linear-gradient(transparent,rgba(0,0,0,0.05) 40%,rgba(0,0,0,0.10));
    text-decoration: none;
}

.bz-button:focus {
    outline: 0
}

.bz-button-active,.bz-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset,0 0 6px rgba(0,0,0,0.20) inset;
    border-color: #000\9
}

.bz-button[disabled],.bz-button-disabled,.bz-button-disabled:hover,.bz-button-disabled:focus,.bz-button-disabled:active {
    border: 0;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: .40;
    -moz-opacity: .40;
    opacity: .40;
    cursor: not-allowed;
    box-shadow: none
}

.bz-button-hidden {
    display: none
}

.bz-button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.bz-button-primary,.bz-button-selected,a.bz-button-primary,a.bz-button-selected {
    background-color: #02CF21;
    color: #fff
}

/* 表格组 */

.bz-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 14px;
    text-align: center;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.bz-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center
}

.bz-table td,.bz-table th {
    border-left: 1px solid #ddd;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em
}

.bz-table td:first-child,.bz-table th:first-child {
    border-left-width: 0
}

.bz-table thead {
    background-color: #f7f7f7;
    vertical-align: bottom
}

.bz-table tbody > tr > td {
    color: #444;
    height: 60px;
    width: 12.5%;
}

.bz-table tbody > tr > td.unSelected:hover {
    background: #02CF21;
    cursor: pointer;
    border: 1px solid #04D104;
}

.bz-table tbody > tr > td.selected:hover {
    border: 1px solid #04D104;
    cursor: pointer;
}

.bz-table tbody > tr > td.selected {
    background: #f7f7f7;
}

.bz-table tbody > tr > td.unSelected {
    color: #f7f7f7;
}

.bz-table tbody > tr > td.leftTd {
    background: #f7f7f7;
    font-weight: bold;
    font-size: 16px;
}

.bz-table td {
    background-color: transparent
}
.bz-table tr {
    border-bottom: 1px solid #ddd;
}
.bz-table td, .bz-table th {
    border-left: 1px solid #ddd;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}